<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="StartupSettings" type="BCL.StartupSettingsConfigSection, BCL"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <StartupSettings culture="en-EN">
    <ListeningDirectories>
      <add path="C:\TEST" />
      <add path="C:\TEST\Новая папка" />
    </ListeningDirectories>
    <rules defaultDirectory ="C:\EPAM_Mentoring_Program_2020">
      <rule fileName ="[a-z0-9]+" destination ="C:\TEST\BCL"/>
      <rule fileName ="[A-Z]+" destination =" C:\TEST\BCL\NewFolder"/>
    </rules>
  </StartupSettings>
</configuration>
