<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="StartupSettings" type="BCL.StartupSettingsConfigSection, BCL"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
  </appSettings>
  <StartupSettings>
    <ListeningDirectories>
      <add path="C:\TEST" />
      <add path="C:\TEST\Новая папка" />
    </ListeningDirectories>
    <Files>
      <add name ="[a-z0-9]+" destination ="C:\TEST\BCL"/>
      <add name ="[A-Z]+" destination =" C:\TEST\BCL\NewFolder"/>
    </Files>
  </StartupSettings>
</configuration>
